* {
    font-family: 'Work Sans';
    font-style: normal;
}

.header {
    background-image: url('images/banner/banner3.png');
    background-repeat: no-repeat;
    padding: 200px 230px;
}

/* .header-text-area {} */

.header-title {
    font-weight: 700;
    font-size: 65px;
    /* line-height: 76px; */
    text-align: right;
    color: #FFFFFF;
}

.header-description {
    line-height: 26px;
    text-align: right;
    color: #FFFFFF;
}

.btn-primary {
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
    border: none;
    padding: 20px 25px;
    border-radius: 5px;
    margin-left: 895px;
}

/* Main Section Styles */
.previous-year-section {
    width: 1072px;
    height: 724px;
    margin: 0 auto;
    display: flex;
}

.previous-year-title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}

.previous-year-text {
    margin-top: 200px;
    margin-left: 87px;
}

.previous-year-description {
    line-height: 26px;
    font-weight: 400;
    font-size: 16px;
    color: #444343;
}

ul {
    padding-left: 0;
}

ul li {
    line-height: 26px;
    list-style: none;

}

ul li::before {
    content: '✓';
    color: #16D887;
    width: 1em;
    margin-right: 5px;
}

/* Plans Section Styles */
.plans-section {
    margin: 130px 230px;
    text-align: center;
    width: 1141px;
    height: 202.96px;
}


.plans-title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 50px;
}

.plan-area {
    display: flex;
    margin-bottom: 130px;
}

.plans {
    padding-right: 80px;
    /* line-height: 35px; */
}

.plans h3 {
    font-weight: 700;
    font-size: 30px;
    color: #151414;
}

.plans p {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}

/* Contact Area Styles */
.contact-area {
    margin: 260px 230px 130px 130px;
}


.contact-area-image {
    background-image: url('images/gradient1.png'), url('images/watch.png');
    background-repeat: no-repeat;
    border-radius: 8px;
    width: 1140px;
    height: 300px;
    padding-top: 60px;
    padding-left: 65px;
}

.contact-area-title {
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    /* position: top right; */
    text-align: start;
    margin-bottom: 15px;
}

.btn-call {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    padding: 20px 25px;
    border: none;
    border-radius: 5px;
    color: #005FAC;
    margin-top: 0;
}

/* Footer Area Styles */
.footer {
    width: 1600px;
    height: 577px;
    background: #151414;
    display: flex;
}

.footer-contact-area {
    padding: 130px 230px;
}

.footer-title {
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
}

.footer-description,
.footer-contact {
    color: #FFFFFF;
}

.footer-icon {
    width: 47px;
}

.subscribe-area {
    padding: 130px 230px;
}

.subscribe-title {
    font-weight: 600;
    font-size: 25px;
    color: #FFFFFF;
}

.footer-input {
    width: 325px;
    height: 64px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 18px;
    color: #F3F3F3;
}

.subscribe-btn {
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    width: 170.11px;
    height: 64px;
    background: #005FAC;
    border-radius: 8px;
    border: none;
}