* {
    font-family: 'Work Sans';
    font-style: normal;
}

.header {
    background-image: url('images/banner/banner3.png');
    background-repeat: no-repeat;
    padding: 200px 230px;
}

/* .header-text-area {} */

.header-title {
    font-weight: 700;
    font-size: 65px;
    /* line-height: 76px; */
    text-align: right;
    color: #FFFFFF;
}

.header-description {
    line-height: 26px;
    text-align: right;
    color: #FFFFFF;
}

.btn-primary {
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
    border: none;
    padding: 20px 25px;
    border-radius: 5px;
    margin-left: 895px;
}

/* Main Section Styles */
.previous-year-section {
    width: 1072px;
    height: 724px;
    margin: 0 auto;
    display: flex;
}

.previous-year-title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}

.previous-year-text {
    margin-top: 200px;
    margin-left: 87px;
}

.previous-year-description {
    line-height: 26px;
    font-weight: 400;
    font-size: 16px;
    color: #444343;
}

ul {
    padding-left: 0;
}

ul li {
    line-height: 26px;
    list-style: none;

}

ul li::before {
    content: '✓';
    color: #16D887;
    width: 1em;
    margin-right: 5px;
}

/* Plans Section Styles */
.plans-section {
    margin: 130px 230px;
    text-align: center;
    width: 1141px;
    height: 202.96px;
}


.plans-title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 50px;
}

.plan-area {
    display: flex;
}

.plans {
    padding-right: 80px;
    /* line-height: 35px; */
}

.plans h3 {
    font-weight: 700;
    font-size: 30px;
    color: #151414;
}

.plans p {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}